body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-section {
  background-color: #1f2937;
  padding: 0 300px 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
}

.logo,
.call-to-action {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.links,
.subtext-title {
  font-size: 18px;
  color: #e5e7eb;
}

.container-top {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.top-left {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup,
.signup-bottom {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bolder;
  font-size: 18px;
  border: inherit;
}

.top-img {
  width: 500px;
  height: 250px;
}

.top-right {
  display: flex;

  justify-content: flex-end;
}

.second-section {
  padding: 0 0 150px;
}

.second-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  padding: 40px 0;
}

.container-img {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.img-info {
  max-width: 190px;
}

.img-info > img {
  width: 180px;
  height: 180px;
  border: 5px solid #3882f6;
  border-radius: 8px;
}

.third-section {
  background-color: #e5e7eb;
  padding: 150px 450px;
}

.quote-body {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.author {
  align-self: flex-end;
  font-weight: bolder;
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
}

.fourth-section {
  padding: 150px 300px;
}

.blue-block {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 100px;
}

.text-block {
  color: #e5e7eb;
}

.signup-bottom {
  border: 2px solid white;
}

.footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  color: #e5e7eb;
}
